.Header {
  padding: 12px 72px;
  background-color: white;
}

.Header img {
  width: 85%;
}

.Header a {
  color: #abadac;
  text-decoration: none;
}

.Header a:hover {
  color: #2d3034;
  text-decoration: none;
}

.Header a:active,
.Header a.active {
  color: #2d3034;
  font-weight: bold;
}
