.CardOrder {
  border-radius: 20px;
  border: 1.5px solid #2d3034;
}

.CardHeaderOrder {
  background-color: #2d3034 !important;
  color: white;
}

.BtnOrder:hover {
  color: #234090 !important;
  background: white !important;
  border-color: white !important;
}

.BtnCS:hover {
  color: #2d3034 !important;
  background: white !important;
  border-color: white !important;
  font-weight: bold;
}

.BtnChoose {
  color: #2d3034 !important;
  font-weight: bold !important;
  background-color: white !important;
  border-color: white !important;
}

.BtnChoose:hover {
  color: white !important;
  font-weight: normal !important;
  background-color: #2d3034 !important;
  border-color: #2d3034 !important;
}

.BtnNotAllowed {
  cursor: not-allowed !important;
}
