.Book {
  border-radius: 15px !important;
}

.Book button {
  background: #2d3034;
  border: none;
}

.Book img:hover,
.Book h4:hover {
  cursor: pointer;
}

.BtnAdded {
  background: white !important;
  border: none !important;
  color: #2d3034 !important;
}
